<html>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="dist/moback.js"></script>
  <title>Moback Test Page</title>
</head>
<body>
<div ng-app="Test">
  <div ng-controller="mobackTesterCtrl">
    <h1>Moback File Manager Functions</h1>
    <!--
    <button ng-click="createUser()">create user</button>
    <button ng-click="login()">login</button>
    <button ng-click="resetPassword()">reset password</button>
    <button ng-click="updateUser()">update user</button>
    <button ng-click="logout()">logout</button>
    -->
    <form id="file-form" >
      <input type="file" id="file-select" name="fileupload" />
      <button type="submit" id="upload-button">Upload</button>
    </form>
    <button type="button" id="saveObject"> Save Object </button>
    <button type="button" id="remove-file"> Remove File </button>
    <p id="output" ng-cloak="">{{ output }}</p>
  </div>
</div>
<script>

  $(document).ready(function(){

    Moback.initialize("MDMzZGQxMWUtNDFiYy00YTkyLWJkMTMtNDk0YjZhYzg1NThk","NDczMjI5NWQtNjhkMi00ZDcwLWE4YzItYTQ2YzI2ZWI1YTMy");
    console.log(Moback.showAppKey());

     var mobackFileTestUser = new Moback.userMgr();
     var userObj = {
         "userId":"user4",
         "password":"asdf1234",
         "email":"mike4@gmail.com",
         "firstname":"Uday",
         "lastname":"nayak"
     };
     var mobackFile1;
     var ssotoken;

     mobackFileTestUser.login("user1426115310038", "jasmine", function(data){
         console.log(data);
         ssotoken = mobackFileTestUser.getSessionToken();
         console.log(ssotoken);
     });


    /*
    $("#file-form").submit(function(){
          var fileSelect = document.getElementById('file-select');
          console.log(fileSelect.files);
          mobackFile1 = new Moback.fileMgr(fileSelect.files[0]);
          mobackFile1.save(ssotoken,function(data){
              console.log(data);
          });

          return false;
      });
      */

    $("#file-form").submit(function(){
      //var fileSelect = document.getElementById('file-select');
      //console.log(fileSelect.files);
      var content = '<a id="a"><b id="b">hey!</b></a>'; // the body of the new file...
      var blob = new Blob([content], { type: "text/xml"});
      //mobackFile1 = new Moback.fileMgr(fileSelect.files[0]);
      mobackFile1 = new Moback.fileMgr(blob, "test.xml");
      console.log(blob);
      mobackFile1.save(ssotoken,function(data){
        console.log(data);
      });


      return false;
    });

      $('#saveObject').click(function(){
          var mobackObj1 = new Moback.objMgr("Movie");
          mobackObj1.set("movieName","The Imitation Game1");
          mobackObj1.set("genre","Thriller");
          mobackObj1.set("lead", "Benedict Cumberbatch");
          mobackObj1.set("duration","30 Minutes");
          mobackObj1.set("MoviePic",mobackFile1);
          console.log(mobackObj1.get("MoviePic"));
          mobackObj1.save(function(data){
              console.log(data);
          });
      });

/*    $("#file-form").submit(function(){
      var fileSelect = document.getElementById('file-select');
      console.log(fileSelect.files);
      mobackFile1 = new Moback.fileMgr(fileSelect.files[0]);
      mobackFile1.save(ssotoken,function(data){
        console.log(data);
      });
      return false;
    });

    $("#remove-file").click(function(){
        mobackFile1.removeFile(ssotoken, function(data){
            console.log(data);
        })
    });*/

  });




  angular.module('Test', ['ngResource']).controller('mobackTesterCtrl', function ($scope ) {

    /*after creating an app in moback, grab the app key, and dev key*/

    //console.log(mobackUser1.showAppKey());


    $scope.createUser = function() {
      /*create a user
       * user obj, callback function
       * on the callback, calling a get user detail afterwards
       * */
      var userObj = {
        "userId":"user4",
        "password":"asdf1234",
        "email":"mike4@gmail.com",
        "firstname":"Uday",
        "lastname":"nayak"
      };
      mobackUser1.createUser(userObj, function(data){
        console.log(data);
        mobackUser1.getUserDetails(function(data){
          $scope.output = data;
          console.log(data);
          $scope.$apply()
        })
      });
    };



    $scope.login = function() {
      /*login
       * username, password, callback
       * on the callback, calling a get user detail afterwards
       * */
      mobackUser1.login("user4", "asdf1234", function(data){
        console.log(data);
        mobackUser1.getUserDetails(function(data){
          $scope.output = data;
          console.log(data);
          $scope.$apply();
        })
      });

    };

    $scope.resetPassword = function() {
      /*reset password
      * utility function to reset a password, does not need for a user to be logged in
      * emailId, callback
      * */
      mobackUser1.resetPassword("michaelp+jssdk@moback.com",function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };

    $scope.logout = function() {
      /*logout user
       * */
      var output = mobackUser1.logout();
      $scope.output = output;
      console.log(output);
    };

    $scope.updateUser = function() {
      /*updateUser
      * update user object, callback
      * call login first, then call update user
      * */

       var userObj = {
        "firstname":"Mike Puzon",
        "password":"asdf1234",
        "email":"michaelp+jssdk@moback.com"
      };

      mobackUser1.updateUser(userObj, function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      })
    };

    $scope.output = "";


  });
</script>

</body>
</html>

