<html>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="dist/moback.js"></script>
  <title>Moback Test Page</title>
</head>
<body>
<div ng-app="Test">
  <div ng-controller="mobackTesterCtrl">
    <h1>Moback User Manager Functions</h1>
    <button ng-click="set()">Set</button>
    <button ng-click="createUser()">create user</button>
    <button ng-click="login()">login</button>
    <button ng-click="resetPassword()">reset password</button>
    <button ng-click="setForUpdate()">set for update</button>
    <button ng-click="updateUser()">update user</button>
    <button ng-click="logout()">logout</button>
    <p ng-cloak="">{{ output }}</p>
  </div>
</div>
<script>

  var Person = function() {
    this.canTalk = true;
    this.someProp = "adsfasdkljf";
  };

  Person.prototype.greet = function() {
    if (this.canTalk) {
      console.log('Hi, I am ' + this.name);
    }
  };

  var Employee = function(name, title) {
    Person.call(this);
    this.name = name;
    this.title = title;
  };

  Employee.prototype = Object.create(Person.prototype);
  Employee.prototype.constructor = Employee;

  Employee.prototype.greet = function() {
    if (this.canTalk) {
      console.log('Hi, I am ' + this.name + ', the ' + this.title);
      console.log(this.someProp);
    }
  };

  var Customer = function(name) {
    Person.call(this);
    this.name = name;
  };

  Customer.prototype = Object.create(Person.prototype);
  Customer.prototype.constructor = Customer;

  var Mime = function(name) {
    Person.call(this);
    this.name = name;
    this.canTalk = false;
  };

  Mime.prototype = Object.create(Person.prototype);
  Mime.prototype.constructor = Mime;

  var bob = new Employee('Bob', 'Builder');
  var joe = new Customer('Joe');
  var rg = new Employee('Red Green', 'Handyman');
  var mike = new Customer('Mike');
  var mime = new Mime('Mime');
  bob.greet();
  joe.greet();
  rg.greet();
  mike.greet();
  mime.greet();



  angular.module('Test', ['ngResource']).controller('mobackTesterCtrl', function ($scope ) {

    /*after creating an app in moback, grab the app key, and dev key*/
    Moback.initialize("ODVkM2ZmODEtNmVhMS00MDU5LTg5NzQtMzg2ODU2MzVmMTdl","MWUyN2RjMDAtOWUwMC00ODQ4LTk1MTMtZTZlNWFhMTlhNjQ0");
    console.log(Moback.showAppKey());

    var mobackUser1 = new Moback.userMgr();
    mobackUser1.set("firstName", "mike");
    console.log(mobackUser1.get("firstName"));
    //console.log(mobackUser1.showAppKey());

    $scope.set = function() {
        mobackUser1.set("userId", "john");
        mobackUser1.set("password", "mypassword");
        mobackUser1.set("email", "john@gmail.com");
        mobackUser1.set("firstName", "John");
    };


    $scope.createUser = function() {
      /*create a user
       * user obj, callback function
       * on the callback, calling a get user detail afterwards
       * */
      mobackUser1.createUser(function(data){
        console.log(data);
        mobackUser1.getUserDetails(function(data){
          $scope.output = data;
          console.log(data);
          $scope.$apply()
        })
      });
    };



    $scope.login = function() {
      /*login
       * username, password, callback
       * on the callback, calling a get user detail afterwards
       * */
      mobackUser1.login("john", "mypassword", function(data){
        console.log(data);
        console.log(mobackUser1.getSessionToken());
        mobackUser1.getUserDetails(function(data){
          $scope.output = data;
          console.log(data);
          $scope.$apply();
        })
      });

    };

    $scope.resetPassword = function() {
      /*reset password
      * utility function to reset a password, does not need for a user to be logged in
      * emailId, callback
      * */
      mobackUser1.resetPassword("michaelp+jssdk@moback.com",function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };

    $scope.logout = function() {
      /*logout user
       * */
      var output = mobackUser1.logout();
      $scope.output = output;
      console.log(output);
    };

    $scope.setForUpdate = function(){
        /* Set the first name to update */
        mobackUser1.set("firstName", "Mary")
    };

    $scope.updateUser = function() {
      /*updateUser
      * update user object, callback
      * call login first, then call update user
      * */
      mobackUser1.updateUser(function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      })
    };

    $scope.output = "";


  });
</script>

</body>
</html>

