<html>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="dist/moback.js"></script>
  <title>Moback Test Page</title>
</head>
<body>
<div ng-app="Test">
  <div ng-controller="mobackTesterCtrl">
    <h1>Moback Object Manager Functions</h1>
    <button ng-click="createObject()">create object</button>
    <button ng-click="set()">Set Property</button>
    <button ng-click="save()">Save Object</button>
    <button ng-click="fetchExistingObject()">Fetch object</button>
    <button ng-click="fetchUpdated()">Fetch updated</button>
    <button ng-click="updateObject()">Update object</button>
    <button ng-click="remove()">Remove object</button>
    <button ng-click="createExistingObject()">Create Existing Object</button>
    <p ng-cloak="">{{ output }}</p>
  </div>
</div>
<script>


  angular.module('Test', ['ngResource']).controller('mobackTesterCtrl', function ($scope ) {

    /*after creating an app in moback, grab the app key, and dev key*/
    Moback.initialize("ODVkM2ZmODEtNmVhMS00MDU5LTg5NzQtMzg2ODU2MzVmMTdl","MWUyN2RjMDAtOWUwMC00ODQ4LTk1MTMtZTZlNWFhMTlhNjQ0");

     window.mobackObj1 = new Moback.objMgr("Movie");

      //var movie = { "genre" : "Thriller" , "movieName" : "The Imitation Game" , "duration" : "120 Minutes" , "lead" : "Benedict Cumberbatch" , "createdAt" : "2015-02-19T22:48:57.284Z" , "updatedAt" : "2015-02-19T22:48:57.284Z" , "objectId" : "VOZoWeSwmghwOHN4"};
     // mobackObj1.createExistingObject(movie);
    //  console.log(mobackObj1.get("movieName"));
     // console.log(m1.get("createdAt"));

/*      mobackObj1.set("MovieName", "The Imitation Game");
      mobackObj1.set("lead", "Benedict Cumberbatch");
      mobackObj1.set("duration","30 Minutes");
      console.log(mobackObj1.get("MovieName"));*/



/*query manager code
*
* var mobackObj1 = new Moback.objMgr("Movie");
*
* mobackObj1.createExistingObject(movie);
* return mobackObj1;
*
*
* */
/*    mobackObj1.set("movieName","The Imitation Game");
      //console.log(mobackObj1.get("movieName"));
      mobackObj1.set("genre","Thriller");
      //console.log(mobackObj1.get("genre"));
      mobackObj1.set("lead", "Benedict Cumberbatch");
      //console.log(mobackObj1.get("lead"));
      mobackObj1.set("duration","90 Minutes");
      //console.log(mobackObj1.get("duration"));
      mobackObj1.save(function(data){
          console.log(data);
      });
*//*      mobackObj1.createObject(mobackObj1,function(data){
          console.log(data);
      })*//*
*//*      mobackObj1.fetch("VOeS4OSwmghwOHOl",function(data){
          console.log(data);
      });*//*
      mobackObj1.remove();*/


    $scope.set = function() {
        mobackObj1.set("movieName","The Imitation Game1");
        //console.log(mobackObj1.get("movieName"));
        mobackObj1.set("genre","Thriller");
        //console.log(mobackObj1.get("genre"));
        mobackObj1.set("lead", "Benedict Cumberbatch");
        //console.log(mobackObj1.get("lead"));
        mobackObj1.set("duration","30 Minutes");
        //console.log(mobackObj1.get("duration"));
    };

    $scope.save = function() {
          mobackObj1.save(function(data){
              $scope.output = data;
              console.log(data);
          });
    };

    $scope.fetchExistingObject = function() {
        var mobackMovieQuery = new Moback.queryMgr('Movie');
        mobackMovieQuery.fetchSingle('VOuteeSw7MI5Wyoz', function(data){
            mobackObj1 = data;
        });

        mobackObj1.fetchExistingObject("VOuteeSw7MI5Wyoz",function(data){
          $scope.output = data;
          console.log(data);
        });
    };

    $scope.fetchUpdated = function() {
          mobackObj1.fetch(function(data){
          $scope.output = data;
          console.log(data);
        });
    };



    $scope.createExistingObject = function(){
        var newObject = mobackObj1.createExistingObject(movie);
        console.log(JSON.stringify(newObject));
    };


    $scope.remove = function() {
        mobackObj1.remove();
    };

    $scope.createObject = function() {
      /*create an object
       * row obj, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
      //mobackUser1.createUser("user2","adsf1234","mike@gmail.com","Mike", function(data){
      var userObj = {
        "movieName" : "The Imitation Game"
      };
      mobackObj1.createObject(userObj, function(data){
        console.log(data);
        mobackObj1.getObject(function(data){
          $scope.output = data;
          console.log(data);
          $scope.$apply()
        })
      });
    };


    $scope.getObject = function() {
      /*select an existing object
       * row obj id, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
     // mobackObj1.selectObject("VOUBpeSwx2_EDDY5", "cars", function(data){
       // console.log(data);
        mobackObj1.getObject(function(data){
          $scope.output = data;
          console.log(data);
          $scope.$apply()
        })
    //  });
    };

    $scope.removeObject = function() {
      /*remove object
      * callback
      * */
        mobackObj1.removeObject(function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };

    $scope.updateObject = function() {
      /*updateObject
      * update user object, callback
      * call login first, then call update user
      * */
      var userObj = {
        "brand" : "mazda",
        "color" : "blue"
      };
      mobackObj1.updateObject(userObj, function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply()
      });
    };

    $scope.output = "";
  });
</script>

</body>
</html>

