<html>
<head>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="dist/moback.js"></script>
  <title>Moback Test Page</title>
</head>
<body>
<div ng-app="Test">
  <div ng-controller="mobackTesterCtrl">
    <h1>Moback Object Manager Functions</h1>
    <button ng-click="createObject1()">create object 1</button>
    <button ng-click="createObject2()">create object 2</button>
    <button ng-click="create2Objects()">create 2 objects</button>
    <button ng-click="linkObject()">link obj2 to obj 1</button>
    <button ng-click="getObject2()">get object 2</button>
    <button ng-click="createAllExisting()">fetch all cars object</button>
    <button ng-click="getProperties()">get obj Properties</button>
    <button ng-click="set()">Set Property</button>
    <button ng-click="getObject()">grab object</button>
    <button ng-click="updateObject()">update object</button>
    <button ng-click="removeObject()">remove object</button>
    <p ng-cloak="">{{ output }}</p>
  </div>
</div>
<script>


  angular.module('Test', ['ngResource']).controller('mobackTesterCtrl', function ($scope ) {

    /*after creating an app in moback, grab the app key, and dev key*/
    Moback.initialize("MDMzZGQxMWUtNDFiYy00YTkyLWJkMTMtNDk0YjZhYzg1NThk","NDczMjI5NWQtNjhkMi00ZDcwLWE4YzItYTQ2YzI2ZWI1YTMy");

    var mobackCarsQuery = new Moback.queryMgr('comment');
    window.obj1 = {};
    window.obj2 = {};

     // var movie = { "genre" : "Thriller" , "movieName" : "The Imitation Game" , "duration" : "120 Minutes" , "lead" : "Benedict Cumberbatch" , "createdAt" : "2015-02-19T22:48:57.284Z" , "updatedAt" : "2015-02-19T22:48:57.284Z" , "objectId" : "VOZoWeSwmghwOHN4"};
     // mobackObj1.createExistingObject(movie);
    //  console.log(mobackObj1.get("movieName"));
     // console.log(m1.get("createdAt"));

    $scope.createObject1 = function() {
      /*create an object
       * row obj, table, callback function
       * on the callback, calling a get object detail afterwards
       * */

      obj1 = new Moback.objMgr('post');
      obj1.set("title", "oscar posts");
      obj1.save(function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };

    $scope.createObject2 = function() {
      /*create an object
       * row obj, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
      obj1 = new Moback.objMgr('post');
      obj1.set("title", "golden globe posts");

      obj2 = new Moback.objMgr('comment');
      obj2.set("content", "best actor to george clooney");
      obj2.save(function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };

    $scope.create2Objects = function() {
      /*create an object
       * row obj, table, callback function
       * on the callback, calling a get object detail afterwards
       * */

      obj2 = new Moback.objMgr('comment');
      obj2.set("content", "best actor to ben affleck");
      obj2.save(function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };



    $scope.linkObject = function() {
      /*create an object
       * row obj, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
      obj2 = new Moback.objMgr('comment');
      obj2.set("content", "best actor to ben affleck");
      obj2.set("parent", obj1);
      obj2.save(function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };


    $scope.getObject2 = function() {
      /*create an object
       * row obj, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
      mobackCarsQuery.fetchSingle('VOuTy-Sw7MI5Wyod', function(data){
        obj2 = data;
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };



    $scope.createObjectExisting = function() {
      /*create an object
       * row obj, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
      mobackCarsQuery.fetchSingle('VOUQU-Swx2_EDDY-', function(data){
        mobackObj1 = data;
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };


    $scope.createAllExisting = function() {
      /*create an object
       * row obj, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
      mobackCarsQuery.fetch(function(data){
        allCars = data;
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };


    $scope.getProperties = function() {
      /*select an existing object
       * row obj id, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
      var output = "";
      output += " brand:" + mobackObj1.get('brand');
      output += " value:" + mobackObj1.get('value');
      output += " color:" + mobackObj1.get('color');
      output += " objectId:" + mobackObj1.id;

      $scope.output = output;
      console.log(output);

      //  });
    };


    $scope.getObject = function() {
      /*select an existing object
       * row obj id, table, callback function
       * on the callback, calling a get object detail afterwards
       * */
     // mobackObj1.selectObject("VOUBpeSwx2_EDDY5", "cars", function(data){
       // console.log(data);
        mobackObj1.getObject(function(data){
          $scope.output = data;
          console.log(data);
          $scope.$apply()
        })
    //  });
    };

    $scope.removeObject = function() {
      /*remove object
      * callback
      * */
        mobackObj1.removeObject(function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply();
      });
    };

    $scope.updateObject = function() {
      /*updateObject
      * update user object, callback
      * call login first, then call update user
      * */
      var userObj = {
        "brand" : "mazda",
        "color" : "blue"
      };
      mobackObj1.updateObject(userObj, function(data){
        $scope.output = data;
        console.log(data);
        $scope.$apply()
      });
    };

    $scope.output = "";
  });
</script>

</body>
</html>

